@use 'mixins'
@use 'variables'

.content
    @include mixins.flex-container
    justify-content: space-around
    position: fixed
    top: 0
    left: 0
    width: 100%
    padding: 1.3rem
    z-index: 1000
    backdrop-filter: blur(24px)

    .logo
        display: flex
        align-items: center
        gap: 0.5rem

        img
            width: 1.5rem
            height: 1.5rem
        
        span
            font-size: 1.3rem
            font-weight: 800
    
    nav
        ul
            display: flex
            align-items: center
            gap: 1.5rem

            li
                cursor: pointer
                transition: all 0.2s ease-in-out

                &:hover
                    color: variables.$primary-color

    .button
        background-color: variables.$bg-color
        border: 1px solid variables.$border-color
        border-radius: 4px
        transition: all 0.1s ease-in-out
        @include mixins.primary-hover

        padding: 0.5rem 1rem