@use 'variables'
@use 'mixins'

.content
    @include mixins.flex-container
    flex-direction: column

    .subtitle
        font-size: 1.1rem
        color: variables.$primary-color
        font-weight: 600
        margin-top: 8rem

    .title
        font-size: 4.5rem
        text-align: center
        margin: 2rem 0
        width: 80%

    .description
        font-size: 1.1rem
        color: variables.$secondory-text-color
        text-align: center
        margin-bottom: 3rem
        width: 50%

    .buttons
        @include mixins.flex-container
        gap: 2rem
        width: 100%
        margin-bottom: 8rem 

        .buttonOne
            background-color: variables.$secondary-color 
            border: none
            @include mixins.secondary-hover

        .buttonTwo
            background-color: variables.$bg-color
            border: 1px solid variables.$secondary-color
            @include mixins.primary-hover

        .buttonOne, .buttonTwo
            color: variables.$text-color
            border-radius: 10px
            font-size: 1rem
            font-weight: 600
            cursor: pointer
            transition: all 0.1s ease-in-out
            height: 50px
            max-width: 200px
            width: 100%
        
    img
        width: 100%
        height: 100%
        max-width: 1100px
        object-fit: cover
        @include mixins.border-radius
