@use 'variables'
@use 'mixins'
    
.modalOverlay
    position: fixed
    top: 0
    left: 0
    z-index: 50
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)
    display: flex
    justify-content: center
    align-items: center

    .modal
        padding: 3rem 4rem
        max-width: 80%
        @include mixins.laptop
            padding: 2rem
        @include mixins.laptop
            padding: 1.5rem

        background-color: variables.$primary-bg-color
        backdrop-filter: blur(24px)
        @include mixins.border-radius

        border-radius: 5px
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
        overflow: auto

        .modalContent
            padding: 1rem
