@use 'variables'
@use 'mixins'

.card
    background: variables.$primary-bg-color
    @include mixins.mobile
        width: 90%

    @include mixins.border-radius
    flex-wrap: wrap
    margin: 2rem 0
    padding: 1rem

    @include mixins.tablet
        margin: 0.65rem 0

    .plan
        color: variables.$primary-text-color
        font-size: 2rem
        font-weight: 700
        margin-bottom: 0.7rem

    .price
        color: variables.$primary-text-color
        font-size: 2.5rem
        font-weight: 900
        margin-right: 0.5rem

    .time
        color: variables.$secondary-text-color

    .description
        color: variables.$secondary-text-color
        font-size: 0.87rem
        line-height: 1.8rem
        text-align: center

        margin: 1rem 0

    ul
        margin-bottom: 4rem
        li
            @include mixins.flex-container
            gap: 0.8rem
            margin-bottom: 1rem
        
        svg
            color: variables.$primary-color