@use 'variables'
@use 'mixins'

.content
    margin-top: 8rem

    text-align: center

    .subtitle
        color: variables.$primary-color
        font-size: 0.87rem
        font-weight: 700
        text-transform: uppercase

    .title
        font-size: 3rem

        margin-top: 0.5rem
    .description
        color: variables.$secondary-text-color
        line-height: 1.8rem

.cards
    @include mixins.flex-container
    gap: 1.3rem

    @include mixins.tablet
        flex-direction: column