@media (max-width: 1200px) {
    .sessao-1 img {
        width: 100%;
    }

    .lateral img {
        width: 90px;
    }
}

@media (max-width: 1000px) {
    .sessao-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sessao-1 img {
        width: 98%;
    }

    .redes-sociais-1 {
        display: none;
    }

    .lateral {
        background: #eac0e1;
    }
}