* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #fff;
}

ul {
    list-style: none;
}

.inicio {
    display: flex;
    /* height: 100vh; */
}

.lateral {
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    width: 10vw;
}

.lateral img {
    width: 130px;
    margin: 30px 0 20vh 0;
}

.redes-sociais-1 i {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 45px;

    font-size: 30px;
    color: #463b63;

    transition: 100ms;
}

.redes-sociais-1 i:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
}

.sessao-1 {
    display: flex;

    background: #eac0e1;
}

.nav ul {
    display: flex;
    gap: 50px;

    margin: 80px 0 60px 0;

    text-transform: uppercase;
}

.nav ul li {
    cursor: pointer;
    transition: 600ms;
}

.nav ul li:hover {
    font-weight: bold;
}

.sessao-1 .text {
    margin: 0 0 0 50px;
    width: 65%;

    color: #463b63;
}

.sessao-1 img {
    width: 89%;
}

.sessao-1 .text h1 {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    font-size: 60px;
}

.sessao-1 .text h4 {
    font-family: 'Montserrat', sans-serif;

    margin-bottom: 15px;
}

.sessao-1 .text span {
    font-size: 70px;
}

.sessao-1 .text p {
    font-family: 'Montserrat', sans-serif;

    margin-bottom: 10%;
}

button {
    background: #463b63;
    color: #eac0e1;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Righteous', cursive;
    font-size: 17px;

    padding: 10px;

    transition: 100ms;
    cursor: pointer;
}

button:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

.line {
    background: #463b63;
    border: 3px solid #463b63;
    border-radius: 10px;

    width: 338px;
    margin-bottom: 60px;
}

.principal-sessao-3 {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 20px;

    background: #c8c10d;
    font-weight: bold;
    text-align: center;
}

.principal-sessao-3 i {
    margin-top: 24px;
    margin-bottom: 10px;

    font-size: 50px;
    color: #fff;
}

.principal-sessao-3 img {
    width: 50px;
}

.principal-sessao-3 a {
    margin-left: 20px;

    text-transform: uppercase;
}

.rodape {
    padding: 5%;

    text-align: center;
    background: #cb3362;
}

.rodape .redes-sociais-2 i {
    margin-bottom: 20px;
    width: 56px;

    font-size: 34px;
    color: #fff;

    transition: 100ms;
}

.redes-sociais-2 i:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
}

.rodape p {
    color: #fff;
    font-size: 13px;
    opacity: 0.7;
}