.content
    .logo
        display: flex
        align-items: center
        gap: 0.5rem

        img
            width: 1.5rem
            height: 1.5rem
        
        span
            font-size: 1.3rem
            font-weight: 600